name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    env:
      solutionFile: CleanArchitecture.slnx
      projectName: CleanArchitecture

    steps:
    - uses: actions/checkout@v6

    - name: Install .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: |
          10.x.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test --no-build --verbosity normal
